<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pointhistory">
	<!-- 保存对象 -->
	<insert id="createPointhistory" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointhistoryEntity">
		<![CDATA[
            INSERT INTO service_pointhistory
                (id,type,value,tag,currentPoint,relatedId,userId,realName)
            VALUES 
                (#{id},#{type},#{value},#{tag},#{currentPoint},#{relatedId},#{userId},#{realName})
        ]]>
	</insert>

	<!-- 更新对象 -->
	<update id="updatePointhistory" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointhistoryEntity">
        <![CDATA[
            UPDATE service_pointhistory SET id=id
        ]]>
		<if test="realName!=null and realName!=''">,realName=#{realName}</if>
		<if test="userId!=null and userId!=''">,userId=#{userId}</if>
		<if test="relatedId!=null and relatedId!=''">,relatedId=#{relatedId}</if>
		<if test="currentPoint!=null and currentPoint!=''">,currentPoint=#{currentPoint}</if>
		<if test="tag!=null and tag!=''">,tag=#{tag}</if>
		<if test="delStatus!=null and delStatus!=''">,delStatus=#{delStatus}</if>
		<if test="value!=null and value!=''">,value=#{value}</if>
		<if test="createDate!=null">,createDate=#{createDate}</if>
		<if test="type!=null and type!=''">,type=#{type}</if>
		<if test="id!=null and id!=''">,id=#{id}</if>
		
        <![CDATA[
            WHERE id=#{id}
        ]]>
	</update>

	<!-- 查找单个对象 -->
	<select id="loadPointhistory" resultType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointhistoryEntity"
		parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointhistoryEntity">
		SELECT * FROM service_pointhistory WHERE id=#{id}
	</select>

	<!-- 查询数据列表 -->
	<select id="listPointhistory" resultType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointhistoryEntity"
		parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointhistoryEntity">
        <![CDATA[
	  		SELECT * FROM service_pointhistory WHERE 1=1
	  	]]>
		<if test="realName!=null and realName!=''">AND realName=#{realName}</if>
		<if test="userId!=null and userId!=''">AND userId=#{userId}</if>
		<if test="relatedId!=null and relatedId!=''">AND relatedId=#{relatedId}</if>
		<if test="currentPoint!=null and currentPoint!=''">AND currentPoint=#{currentPoint}</if>
		<if test="tag!=null and tag!=''">AND tag=#{tag}</if>
		<if test="delStatus!=null and delStatus!=''">AND delStatus=#{delStatus}</if>
		<if test="delStatus==null">AND delStatus=0</if>
		<if test="value!=null and value!=''">AND value=#{value}</if>
		<if test="createDate!=null">AND createDate=#{createDate}</if>
		<if test="type!=null and type!=''">AND type=#{type}</if>
		<if test="id!=null and id!=''">AND id=#{id}</if>
		
		<![CDATA[
			ORDER BY createDate DESC
		]]>
	</select>

	<!-- 删除单个对象 -->
	<delete id="removePointhistory" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointhistoryEntity">
		UPDATE
		service_pointhistory SET delStatus=1 WHERE id=#{id}
	</delete>

	<!-- 批量插入 -->
	<insert id="insertBatchPointhistory" parameterType="java.util.List">
		<![CDATA[
            INSERT INTO service_pointhistory
                (id,type,value,tag,currentPoint,relatedId,userId,realName)
            VALUES
        ]]>
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.type},#{item.value},#{item.delStatus},#{item.tag},#{item.currentPoint},#{item.relatedId},#{item.userId},#{item.realName},
		</foreach>
	</insert>


</mapper>
