<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pointuser">
	<!-- 保存对象 -->
	<insert id="createPointuser" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointuserEntity">
		<![CDATA[
            INSERT INTO service_pointuser
                (id,userId,currentPoint)
            VALUES 
                (#{id},#{userId},#{currentPoint})
        ]]>
	</insert>

	<!-- 更新对象 -->
	<update id="updatePointuser" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointuserEntity">
        <![CDATA[
            UPDATE service_pointuser SET id=id
        ]]>
		<if test="createDate!=null">,createDate=#{createDate}</if>
		<if test="delStatus!=null ">,delStatus=#{delStatus}</if>
		<if test="currentPoint!=null ">,currentPoint=#{currentPoint}</if>
		<if test="userId!=null and userId!=''">,userId=#{userId}</if>
		<if test="id!=null and id!=''">,id=#{id}</if>
		
        <![CDATA[
            WHERE id=#{id}
        ]]>
	</update>

	<!-- 查找单个对象 -->
	<select id="loadPointuser" resultType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointuserEntity"
		parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointuserEntity">
		SELECT * FROM service_pointuser WHERE id=#{id}
	</select>

	<!-- 查询数据列表 -->
	<select id="listPointuser" resultType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointuserEntity"
		parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointuserEntity">
        <![CDATA[
	  		SELECT * FROM service_pointuser WHERE 1=1
	  	]]>
		<if test="createDate!=null">AND createDate=#{createDate}</if>
		<if test="delStatus!=null ">AND delStatus=#{delStatus}</if>
		<if test="delStatus==null">AND delStatus=0</if>
		<if test="currentPoint!=null">AND currentPoint=#{currentPoint}</if>
		<if test="userId!=null and userId!=''">AND userId=#{userId}</if>
		<if test="id!=null and id!=''">AND id=#{id}</if>
		
		<![CDATA[
			ORDER BY createDate DESC
		]]>
	</select>

	<!-- 删除单个对象 -->
	<delete id="removePointuser" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.PointuserEntity">
		UPDATE
		service_pointuser SET delStatus=1 WHERE id=#{id}
	</delete>

	<!-- 批量插入 -->
	<insert id="insertBatchPointuser" parameterType="java.util.List">
		<![CDATA[
            INSERT INTO service_pointuser
                (id,userId,currentPoint)
            VALUES
        ]]>
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.userId},#{item.currentPoint})
		</foreach>
	</insert>


</mapper>
