<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Systemlog">
	<!-- 保存对象 -->
	<insert id="createSystemlog" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.SystemlogEntity">
		<![CDATA[
            INSERT INTO admin_systemlog
                (id,employeeId,operateDate,content,interfaceAddress,requestIP,note)
            VALUES 
                (#{id},#{employeeId},#{operateDate},#{content},#{interfaceAddress},#{requestIP},#{note})
        ]]>
	</insert>

	<!-- 更新对象 -->
	<update id="updateSystemlog" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.SystemlogEntity">
        <![CDATA[
            UPDATE admin_systemlog SET id=id
        ]]>
		<if test="delStatus!=null ">,delStatus=#{delStatus}</if>
		<if test="note!=null and note!=''">,note=#{note}</if>
		<if test="requestIP!=null and requestIP!=''">,requestIP=#{requestIP}</if>
		<if test="interfaceAddress!=null and interfaceAddress!=''">,interfaceAddress=#{interfaceAddress}</if>
		<if test="content!=null and content!=''">,content=#{content}</if>
		<if test="operateDate!=null ">,operateDate=#{operateDate}</if>
		<if test="employeeId!=null and employeeId!=''">,employeeId=#{employeeId}</if>
		<if test="id!=null and id!=''">,id=#{id}</if>
		
        <![CDATA[
            WHERE id=#{id}
        ]]>
	</update>

	<!-- 查找单个对象 -->
	<select id="loadSystemlog" resultType="com.gdyunst.ystadmin.framework.domain.entity.admin.SystemlogEntity"
		parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.SystemlogEntity">
		SELECT * FROM admin_systemlog WHERE id=#{id}
	</select>

	<!-- 查询数据列表 -->
	<select id="listSystemlog" resultType="com.gdyunst.ystadmin.framework.domain.entity.admin.SystemlogEntity"
		parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.SystemlogEntity">
        <![CDATA[
	  		SELECT * FROM admin_systemlog WHERE 1=1
	  	]]>
		<if test="delStatus!=null ">AND delStatus=#{delStatus}</if>
		<if test="delStatus==null">AND delStatus=0</if>
		<if test="note!=null and note!=''">AND note=#{note}</if>
		<if test="requestIP!=null and requestIP!=''">AND requestIP=#{requestIP}</if>
		<if test="interfaceAddress!=null and interfaceAddress!=''">AND interfaceAddress=#{interfaceAddress}</if>
		<if test="content!=null and content!=''">AND content=#{content}</if>
		<if test="operateDate!=null">AND operateDate=#{operateDate}</if>
		<if test="employeeId!=null and employeeId!=''">AND employeeId=#{employeeId}</if>
		<if test="id!=null and id!=''">AND id=#{id}</if>
		
		<![CDATA[
			ORDER BY createDate DESC
		]]>
	</select>

	<!-- 删除单个对象 -->
	<delete id="removeSystemlog" parameterType="com.gdyunst.ystadmin.framework.domain.entity.admin.SystemlogEntity">
		UPDATE
		admin_systemlog SET delStatus=1 WHERE id=#{id}
	</delete>

	<!-- 批量插入 -->
	<insert id="insertBatchSystemlog" parameterType="java.util.List">
		<![CDATA[
            INSERT INTO admin_systemlog
                (id,employeeId,operateDate,content,interfaceAddress,requestIP,note)
            VALUES
        ]]>
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.employeeId},#{item.operateDate},#{item.content},#{item.interfaceAddress},#{item.requestIP},#{item.note})
		</foreach>
	</insert>


</mapper>
